:host {
  width: 70%;
  height: 15%;
  margin-bottom: 5%;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  button, a {
    margin: 1vw;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    outline: none;
    text-decoration: none;
    background: transparent;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }

  .green {
    background: var(--green-light);
    color: var(--green);
  }

  .green:hover:not([disabled]) {
    background: var(--green);
    color: var(--white);
  }

  .red {
    background: var(--red-light);
    color: var(--red);
  }

  .red:hover:not([disabled]) {
    background: var(--red);
    color: var(--white);
  }

  :disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}


